<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>@ViewBag.Greeting @ViewBag.Username,nasılsın?</p>
    <p>Umarım sitemizden memnunsundur.</p>
</body>
</html>