<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Product/Details Sayfası</h2>
    <p>@ViewBag.Name</p>
    <p>@ViewBag.Price</p>
    <p>@ViewBag.Description</p>
</body>
</html>