@model ShopApp.WebUI.Models.Product;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Product/Details Sayfası</h2>
    <p>@Model.Name</p>
    <p>@Model.Price</p>
    <p>@Model.Description</p>
</body>
</html>