<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>@ViewData["Category"]</h1>
    <h2>@(((Product)ViewData["Product"]).Name)</h2>
    <h2>@(((Product)ViewData["Product"]).Price)</h2>
    <h2>@(((Product)ViewData["Product"]).Description)</h2>
</body>
</html>