@model ShopApp.WebUI.ViewModels.ProductViewModel;

<div class="container">
    <div class="row" style="padding-top:120px">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Elektronik</li>
                <li class="list-group-item">Beyaz Eşya</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 row-cols-lg-3 g-3">
                @foreach (var item in Model.Products)
                {
                    <div class="col">

                        <div class="card">

                            <img class="card-img-top"
                                 src="https://productimages.hepsiburada.net/s/198/550/110000168765995.jpg/format:webp"
                                 alt="">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <button class="store-item-icon text-capitalize">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                add to cart

                            </button>
                            <div class="card-body">
                                <p>@item.Description</p>
                                <span class="card-title">@item.Name</span>
                                <span class="cart-price">$@item.Price</span>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>