@model ShopApp.WebUI.ViewModels.ProductViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ürün Listesi</title>
</head>
<body>

    <h1>@Model.Category.Name</h1>
    <ul>


        @foreach (var item in Model.Products)
        {
        <li>
            <div>
                <p>Ürün Adı:@item.Name</p>
                <p>Ürün Fiyatı:@item.Price</p>
                <p>Ürün Açıklaması:@item.Description</p>
            </div>
        </li>
        }
    </ul>
</body>
</html>